body {
  margin: 0;
  padding: 0;
}

button {
  font-size: 16px;
  padding: 10px;
}

input[type="number"] {
  font-size: 16px;
  padding: 10px;
}

.circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 5px;
}
